@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Afacad&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppinsd&display=swap');








/* ============================================================================================= */
/*                                          FEATURES BANNER                                      */
/* ============================================================================================= */


.features-banner-section {
    height: 400px;
    background: linear-gradient(to right, darkblue 30%, rgba(0, 0, 0, 0)),
        url('/Images/FeaturesTech.jpg');
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-color: var(--primary-color);
    color: #f4f4f4;
    position: relative;
    margin: 0 auto;
}

#features-h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 500;
}

.features-text {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1rem;
    padding-top: 3rem;
    margin-left: 22rem;
    /* animation: slideInFromTop 1s ease-in; */
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}


.tools-class {
    width: 40%;

}

#tools {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1rem;
}

/* ============================================================================================= */
/*                                          ANIMATION                                            */
/* ============================================================================================= */

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0);
    }
}

/* ============================================================================================= */
/*                                          MOBILE                                               */
/* ============================================================================================= */

@media only screen and (max-width: 600px) {


    /*--------------NAVBAR 600---------------*/


    /* * {
        overflow-x: hidden;
        box-sizing: border-box;

    } */

    .navbar {
        background-color: white;
        color: #fff;
        height: auto;
        width: 100vw;
        padding: 1rem 0;
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        justify-items: center;
        margin: 0;
    }

    .navigation {
        width: 100%;
        margin-right: 3rem;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-right: 0;
    }

    .navigation a::after {
        display: none;

    }

    .navigation a {
        font-family: 'Poppins', sans-serif;
        color: black;
        font-size: var(--font-size-xxxxs);
        position: relative;
        text-decoration: none;
        color: black;
        padding: 0;
        transition: color 0.3s ease;
        /* Smooth text color transition */
        font-weight: 500;
    }

    .nav-list a:hover::after {
        width: 125%;
        height: 125%;
    }


    #tekscale-logo {
        max-width: 50%;
        height: auto;
        margin-left: 1.5rem;
    }

    /* ------------- FEATURES BANNER 600 -----------*/


    .features-banner-section {
        height: 400px;
        background: linear-gradient(to right, darkblue 30%, rgba(0, 0, 0, 0)),
            url('/Images/FeaturesTech.jpg');
        background-position: center center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-color: rgb(0, 0, 139);
        color: #f4f4f4;
        position: relative;
        margin: 0 auto;
    }

    #features-h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 3rem;
        font-weight: 500;
    }

    .features-text {
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 1rem;
        padding-top: 3rem;
        margin-left: 22rem;
        /* animation: slideInFromTop 1s ease-in; */
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
    }


    .tools-class {
        width: 40%;

    }

    #tools {
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 1rem;
    }

    /*------------FOOTER 600----------------*/

    .footer {
        background-color: white;
        width: 100vw;
        padding: 0;
        margin: 0;
    }

    .footer-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        overflow: auto;
        /* padding: 5rem 15rem; */
        justify-content: center;
        align-items: center;
        padding-bottom: 4rem;
    }

    .logo-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid transparent;
        /* Placeholder for the border */
        border-image: linear-gradient(to right, transparent, black, transparent);
        /* Gradient for the border */
        border-image-slice: 1;
        /* Ensures full gradient is applied */

        border-right: none;
    }

    #tekscale-footer-logo {

        width: 50%;
        height: auto;
        margin: 0;
        display: grid;
        justify-self: center !important;


    }

    #copyright {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 1rem;
    }

    .footer-container li {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }

    .footer-list a {
        margin-top: 3rem;
        color: rgb(0, 0, 139);
        margin-bottom: 1rem;
    }

    /* .footer-list a:hover {
        border-bottom: solid 2px #333;
        color: black;
        margin-top: 1rem;
    } */

    #connect {
        font-family: 'Poppins', sans-serif;
        font-size: var(--font-size-md);
        font-weight: 600;
        color: rgb(0, 0, 139);
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

    .footer-nav {
        height: 265px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid transparent;
        /* Placeholder for the border */
        border-image: linear-gradient(to right, transparent, black, transparent);
        /* Gradient for the border */
        border-image-slice: 1;
        /* Ensures full gradient is applied */
        border-right: none;
    }



    .social {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

/* ================================================================================================= */
/*                                            DESKTOPS                                               */
/* ================================================================================================= */

@media only screen and (min-width: 1200px) and (max-width: 1680px) {

    /*------------------NAVBAR 1200-----------------*/

    .navbar {
        background-color: white;
        color: #fff;
        width: 100vw;
        height: auto;
    }

    .navigation ul {
        font-family: 'Poppins', sans-serif;
        color: black;
        font-size: var(--font-size-smish);
        font-weight: 500;
        display: flex;
        justify-content: space-evenly;
        margin-right: 10rem;
    }

    .navigation a::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        background: rgba(0, 0, 139, 0.2);
        border-radius: 50%;
        transform: translate(-50%, -50%);
        transition: width 0.3s ease, height 0.3s ease;

    }

    .navigation a {
        position: relative;
        /* Necessary for pseudo-element positioning */
        text-decoration: none;
        color: black;
        padding: 10px 15px;
        transition: color 0.3s ease;
        /* Smooth text color transition */
        font-weight: 500;
    }

    .navigation a:hover {

        color: black;
    }

    .navigation a:hover::after {
        width: 120%;
        height: 120%;

    }

    .navigation a:hover {
        color: rgb(0, 0, 139);
        font-weight: 600;
    }


    #tekscale-features-logo {
        max-width: 30%;
        height: auto;
        margin-left: 13rem;
    }

    /*------------------FEATURES BANNER 1200-----------------*/

    .features-banner-section {
        width: 100vw;
        height: auto;
        background: linear-gradient(to right, darkblue 30%, rgba(0, 0, 0, 0)),
            url('/Images/FeaturesTech.jpg');
        background-position: center center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-color: var(--primary-color);
        color: #f4f4f4;
        position: relative;
        margin: 0 auto;
        padding-bottom: 5rem;
    }

    .features-text {
        margin-bottom: 1rem;
        padding-top: 3rem;
        margin-left: 12rem;
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
    }


    .h1-div {
        animation: slideInFromTop 0.5s ease-in;
        margin-bottom: 0;
    }

    #features-h1 {
        font-family: 'Poppins', sans-serif;
        font-size: var(--font-size-xl);
        font-weight: 600;
        margin-bottom: 0;

    }

    .tools-class {
        width: 45%;
        animation: slideInFromBottom 0.5s ease-in;
    }

    #tools {
        margin-top: 0;
        font-family: 'Poppins', sans-serif;
        font-size: var(--font-size-medsm);
        line-height: 2.7rem;
    }

    /*------------------DIFFERENTIATORS 1200-----------------*/

    .diff-section {
        width: 100vw;
        height: auto;
        padding: 6rem 0;
        background-color: white;
    }

    .diff-text-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20rem;
    }

    #diff-h1 {
        font-family: 'Poppins', sans-serif;
        font-size: var(--font-size-md);
        font-weight: 600;
        color: rgb(0, 0, 139);
        margin-bottom: 1.5rem;
    }

    #diff-paragraph {
        font-family: 'Poppins', sans-serif;
        font-size: var(--font-size-xs);
        font-weight: 400;
        line-height: 2.3rem;
        margin-top: 0;
        text-align: left;
    }

    #thrive {
        font-family: 'Poppins', sans-serif;
        font-size: var(--font-size-smish);
        font-weight: 600;
        color: rgb(0, 0, 139);
        margin-bottom: 1.5rem;
    }

    .diff-columns-div {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 5rem;
        padding: 0 10rem;
        gap: 2rem;
    }

    .diff-categories {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;

    }

    .diff-images {
        width: 90%;
        height: auto;
        margin-bottom: 1.5rem;
        border-radius: 5px;
    }

    .diff-h2 {
        font-family: 'Poppins', sans-serif;
        font-size: var(--font-size-medsm);
        font-weight: 600;
        color: rgb(0, 0, 139);
        margin-bottom: 1rem;
        margin-top: 1rem;
        text-align: left;
        line-height: 1.5rem;
    }

    .diff-details {
        font-family: 'Poppins', sans-serif;
        font-size: var(--font-size-xxs);
        font-weight: 400;
        line-height: 2.3rem;
        margin-top: 0;
        text-align: left;
        color: rgb(74, 74, 74);
        padding: 0 1rem 0 0;
    }

    /*------------------ADVANCED CLOUD 1200-----------------*/

    .advanced-cloud-section {
        width: 100vw;
        height: auto;
        padding: 17rem 0;
        background-color: white;
    }

    .adv-cloud-div {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }

    .adv-cloud-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 5rem;
    }

    #adv-cloud-image {
        width: 95%;
        height: auto;
        border-radius: 5px;
        box-shadow: 4px 4px 8px 2px rgb(212, 211, 211);
        margin-left: 6rem;
    }

    .adv-cloud-right {
        margin-left: 2rem;
    }

    #adv-cloud-h2 {
        font-family: 'Poppins', sans-serif;
        font-size: var(--font-size-medlg);
        font-weight: 600;
        color: black;
        margin-bottom: .8rem;
        margin-top: 1.5rem;
    }

    #adv-cloud-paragraph {
        font-family: 'Poppins', sans-serif;
        font-size: var(--font-size-sm);
        font-weight: 400;
        line-height: 2.5rem;
        margin-top: 0;
        margin-bottom: 1rem;
        text-align: left;
        padding-right: 14rem;
        color: rgb(74, 74, 74);
    }

    .adv-cloud-ul {
        list-style-type: none;
        /* Remove default bullets */
        padding-left: 0;
    }

    .adv-cloud-li {
        font-family: 'Poppins', sans-serif;
        font-size: var(--font-size-smish);
        font-weight: 400;
        line-height: 2.7rem;
        color: rgb(74, 74, 74);
        padding-left: 2rem;
    }

    .adv-cloud-li::before {
        content: "✔";
        /* Unicode for a checkmark */
        color: rgb(0, 0, 139);
        font-size: 1.2rem;
        margin-right: 10px;
        /* Space between the checkmark and the text */
    }




}

/* ============================================================================================= */
/*                       LARGE EXTERNAL MONITORS and LARGE LAPTOP SCREENS                        */
/* ============================================================================================= */


@media only screen and (min-width: 1681px) {


    /*------------------NAVBAR 1681-----------------*/

    .navbar {
        background-color: white;
        color: #fff;
        width: 100vw;
        height: auto;
        padding: 2rem 0;
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }

    .navigation ul {
        font-family: 'Poppins', sans-serif;
        color: black;
        font-size: var(--font-size-smish);
        font-weight: 500;
        display: flex;
        justify-content: space-evenly;
        margin-right: 10rem;
    }

    .navigation a::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        background: rgba(0, 0, 139, 0.2);
        border-radius: 50%;
        transform: translate(-50%, -50%);
        transition: width 0.3s ease, height 0.3s ease;

    }

    .navigation a {
        position: relative;
        /* Necessary for pseudo-element positioning */
        text-decoration: none;
        /* Remove underline */
        color: black;
        /* Default text color */
        padding: 10px 15px;
        /* Add spacing for clickability */
        transition: color 0.3s ease;
        /* Smooth text color transition */
        font-weight: 500;
        /* Ensure consistent font weight */
    }

    .navigation a:hover {
        color: black;
    }

    .navigation a:hover::after {
        width: 120%;
        height: 120%;

    }

    .navigation a:hover {
        color: rgb(0, 0, 139);
        font-weight: 600;
    }


    #tekscale-features-logo {
        max-width: 25%;
        height: auto;
        margin-left: 22rem;
    }

    /*------------------FEATURES BANNER 1681-----------------*/

    .features-banner-section {
        width: 100vw;
        height: auto;
        background: linear-gradient(to right, darkblue 30%, rgba(0, 0, 0, 0)),
            url('/Images/FeaturesTech.jpg');
        background-position: center center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-color: var(--primary-color);
        /* color: #f4f4f4; */
        color: white;
        position: relative;
        margin: 0 auto;
        padding-bottom: 5rem;
    }

    .features-text {
        margin-bottom: 1rem;
        padding-top: 3rem;
        margin-left: 22rem;
        /* animation: slideInFromTop 0.5s ease-in; */
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
    }


    .h1-div {
        animation: slideInFromTop 0.5s ease-in;
        margin-bottom: 0;
    }

    #features-h1 {
        font-family: 'Poppins', sans-serif;
        font-size: var(--font-size-xl);
        font-weight: 600;
        margin-bottom: 0;

    }

    .tools-class {
        width: 40%;
        animation: slideInFromBottom 0.5s ease-in;
    }

    #tools {
        margin-top: 0;
        font-family: 'Poppins', sans-serif;
        font-size: var(--font-size-md);
        line-height: 2.5rem;
    }

    /*------------------DIFFERENTIATORS 1681-----------------*/

    .diff-section {
        width: 100vw;
        height: auto;
        padding: 8rem 0 8rem 0;
        /* background-color: rgb(244, 239, 239); */
        background-color: white;
    }

    /* Heading and paragraph styles for the differentiators section */

    .diff-text-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20rem;
    }

    #diff-h1 {
        font-family: 'Poppins', sans-serif;
        font-size: var(--font-size-lg);
        font-weight: 600;
        color: rgb(0, 0, 139);
        margin-bottom: 1.5rem;
        animation: slideInFromLeft 0.5s ease-in;
    }

    #diff-paragraph {
        font-family: 'Poppins', sans-serif;
        font-size: var(--font-size-smish);
        font-weight: 400;
        line-height: 2.5rem;
        margin-top: 0;
        text-align: center;
    }

    #thrive {
        font-family: 'Poppins', sans-serif;
        font-size: var(--font-size-smish);
        font-weight: 600;
        color: rgb(0, 0, 139);
        margin-bottom: 1.5rem;
    }

    /* Container for the differentiators section columns */

    .diff-columns-div {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 5rem;
        padding: 0 10rem 0 12rem;
        gap: 2rem;
    }

    .diff-categories {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;

    }

    .diff-images {
        width: 85%;
        height: auto;
        margin-bottom: 1.5rem;
        border-radius: 5px;
        justify-self: center;
    }

    .diff-h2 {
        font-family: 'Poppins', sans-serif;
        font-size: var(--font-size-md);
        font-weight: 600;
        color: rgb(0, 0, 139);
        margin-bottom: 1rem;
        margin-top: 1rem;
        text-align: left;
        line-height: 1.5rem;
    }

    .diff-details {
        font-family: 'Poppins', sans-serif;
        font-size: var(--font-size-xs);
        font-weight: 400;
        line-height: 2.3rem;
        margin-top: 0;
        text-align: left;
        color: rgb(74, 74, 74);
        padding: 0 1rem 0 0;
    }

    /*------------------ADVANCED CLOUD 1681-----------------*/

    .advanced-cloud-section {
        width: 100vw;
        height: auto;
        padding: 17rem 0;
        background-color: rgb(254, 251, 251);
    }

    .adv-cloud-div {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }

    .adv-cloud-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 5rem;
    }

    #adv-cloud-image {
        width: 70%;
        height: auto;
        border-radius: 5px;
        box-shadow: 4px 4px 8px 2px rgb(212, 211, 211);
        margin-left: 7rem;
    }

    #adv-cloud-h2 {
        font-family: 'Poppins', sans-serif;
        font-size: var(--font-size-medlg);
        font-weight: 600;
        color: black;
        margin-bottom: .8rem;
        margin-top: 1.5rem;
    }

    #adv-cloud-paragraph {
        font-family: 'Poppins', sans-serif;
        font-size: var(--font-size-sm);
        font-weight: 400;
        line-height: 2.5rem;
        margin-top: 0;
        margin-bottom: 1rem;
        text-align: left;
        padding-right: 14rem;
        color: rgb(74, 74, 74);
    }

    .adv-cloud-ul {
        list-style-type: none;
        /* Remove default bullets */
        padding-left: 0;
    }

    .adv-cloud-li {
        font-family: 'Poppins', sans-serif;
        font-size: var(--font-size-sm);
        font-weight: 400;
        line-height: 2.7rem;
        color: rgb(74, 74, 74);
        padding-left: 2rem;
    }

    .adv-cloud-li::before {
        content: "✔";
        /* Unicode for a checkmark */
        color: rgb(0, 0, 139);
        font-size: 1.2rem;
        margin-right: 10px;
        /* Space between the checkmark and the text */
    }


}